# Data Preprocessing

* Load Libraries and Data
* Drop Unneeded Data
* Replace NA values
* Convert Vars to Category
* Convert Vars to Boolean
* Convert Vars to Int
* Normalization
* One Hot Encode
* Save the Processed Data

## Load Libraries and Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import pickle
import itertools

In [2]:
try:
    train_data = pd.read_csv(r"../Project/train.csv")
except:
    train_data = pd.read_csv(r"../Project/train.csv")

In [3]:
try:
    test_data = pd.read_csv(r"../Project/test.csv")
except:
    test_data = pd.read_csv(r"../Project/test.csv")

In [4]:
train_data.shape

(233154, 41)

In [5]:
test_data.shape

(112392, 40)

In [6]:
train_data.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [7]:
# Columns to drop: 
# UniqueID

# Category
# 'branch_id', 'supplier_id', 'manufacturer_id', 'current_pincode_ID', 'State_ID', 'PERFORM_CNS.SCORE.DESCRIPTION'

# Bool
# 'loan_default', 'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag', 'Driving_flag'

# Convert to numeric
# 'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH'

## Drop unneeded columns

In [8]:
train_data.drop('UniqueID', axis=1, inplace=True)

## Replace NA Values

In [9]:
train_data.isna().any()
# Only Employment.Type has NA's

disbursed_amount                       False
asset_cost                             False
ltv                                    False
branch_id                              False
supplier_id                            False
manufacturer_id                        False
Current_pincode_ID                     False
Date.of.Birth                          False
Employment.Type                         True
DisbursalDate                          False
State_ID                               False
Employee_code_ID                       False
MobileNo_Avl_Flag                      False
Aadhar_flag                            False
PAN_flag                               False
VoterID_flag                           False
Driving_flag                           False
Passport_flag                          False
PERFORM_CNS.SCORE                      False
PERFORM_CNS.SCORE.DESCRIPTION          False
PRI.NO.OF.ACCTS                        False
PRI.ACTIVE.ACCTS                       False
PRI.OVERDUE.ACCTS                      False
PRI.CURRENT.BALANCE                    False
PRI.SANCTIONED.AMOUNT                  False
PRI.DISBURSED.AMOUNT                   False
SEC.NO.OF.ACCTS                        False
SEC.ACTIVE.ACCTS                       False
SEC.OVERDUE.ACCTS                      False
SEC.CURRENT.BALANCE                    False
SEC.SANCTIONED.AMOUNT                  False
SEC.DISBURSED.AMOUNT                   False
PRIMARY.INSTAL.AMT                     False
SEC.INSTAL.AMT                         False
NEW.ACCTS.IN.LAST.SIX.MONTHS           False
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    False
AVERAGE.ACCT.AGE                       False
CREDIT.HISTORY.LENGTH                  False
NO.OF_INQUIRIES                        False
loan_default                           False
dtype: bool

In [10]:
test_data.isna().any()

UniqueID                               False
disbursed_amount                       False
asset_cost                             False
ltv                                    False
branch_id                              False
supplier_id                            False
manufacturer_id                        False
Current_pincode_ID                     False
Date.of.Birth                          False
Employment.Type                         True
DisbursalDate                          False
State_ID                               False
Employee_code_ID                       False
MobileNo_Avl_Flag                      False
Aadhar_flag                            False
PAN_flag                               False
VoterID_flag                           False
Driving_flag                           False
Passport_flag                          False
PERFORM_CNS.SCORE                      False
PERFORM_CNS.SCORE.DESCRIPTION          False
PRI.NO.OF.ACCTS                        False
PRI.ACTIVE.ACCTS                       False
PRI.OVERDUE.ACCTS                      False
PRI.CURRENT.BALANCE                    False
PRI.SANCTIONED.AMOUNT                  False
PRI.DISBURSED.AMOUNT                   False
SEC.NO.OF.ACCTS                        False
SEC.ACTIVE.ACCTS                       False
SEC.OVERDUE.ACCTS                      False
SEC.CURRENT.BALANCE                    False
SEC.SANCTIONED.AMOUNT                  False
SEC.DISBURSED.AMOUNT                   False
PRIMARY.INSTAL.AMT                     False
SEC.INSTAL.AMT                         False
NEW.ACCTS.IN.LAST.SIX.MONTHS           False
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    False
AVERAGE.ACCT.AGE                       False
CREDIT.HISTORY.LENGTH                  False
NO.OF_INQUIRIES                        False
dtype: bool

In [11]:
num_nas = sum(train_data['Employment.Type'].isna())
percent_na = sum(train_data['Employment.Type'].isna())/train_data['Employment.Type'].shape[0]
percent_na = round(percent_na*100,2)

print('Employment.Types has {} NA values, which makes up {}% of the data.'.format(num_nas, percent_na))
print('Encoding NA values as Unknown')

train_data['Employment.Type'][train_data['Employment.Type'].isna()] = 'Unknown'

Employment.Types has 7661 NA values, which makes up 3.29% of the data.
Encoding NA values as Unknown

C:\Users\casey\AppData\Local\Temp\ipykernel_3772\555203639.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['Employment.Type'][train_data['Employment.Type'].isna()] = 'Unknown'

In [12]:
num_nas = sum(test_data['Employment.Type'].isna())
percent_na = sum(test_data['Employment.Type'].isna())/test_data['Employment.Type'].shape[0]
percent_na = round(percent_na*100,2)

print('Employment.Types has {} NA values, which makes up {}% of the data.'.format(num_nas, percent_na))
print('Encoding NA values as Unknown')

test_data['Employment.Type'][test_data['Employment.Type'].isna()] = 'Unknown'

Employment.Types has 3443 NA values, which makes up 3.06% of the data.
Encoding NA values as Unknown

C:\Users\casey\AppData\Local\Temp\ipykernel_3772\1605703706.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Employment.Type'][test_data['Employment.Type'].isna()] = 'Unknown'

## Reduce Primary and Secondary Accounts

In [13]:
new = ['total_accts', 'active_accts', 'overdue_accts', 'total_current_balance', 'total_sanc_amount', 'total_disbursed_amount', 'total_instal']
pri = ['PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS', 'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT', 'PRI.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT']
sec = ['SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS', 'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT', 'SEC.DISBURSED.AMOUNT', 'SEC.INSTAL.AMT']

for (new, pri, sec) in zip(new, pri, sec):
    train_data[new] = train_data[pri] + train_data[sec]
    del train_data[pri]; del train_data[sec]

## Convert Some Variables from Int to Category

In [14]:
category_columns = ['branch_id', 'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'State_ID', 'PERFORM_CNS.SCORE.DESCRIPTION', 'Employment.Type']

for column in category_columns:
    train_data[column] = train_data[column].astype('category')

In [15]:
train_data.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,...,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,total_accts,active_accts,overdue_accts,total_current_balance,total_sanc_amount,total_disbursed_amount,total_instal
0,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,...,0yrs 0mon,0,0,0,0,0,0,0,0,0
1,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,...,1yrs 11mon,0,1,1,1,1,27600,50200,50200,1991
2,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,...,0yrs 0mon,0,0,0,0,0,0,0,0,0
3,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,...,1yrs 3mon,1,1,3,0,0,0,0,0,31
4,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,...,0yrs 0mon,1,1,0,0,0,0,0,0,0

## Convert Some Variables to Boolean

In [16]:
category_columns = ['loan_default', 'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag', 'Driving_flag']

for column in category_columns:
    train_data[column] = train_data[column].astype('bool')

## Convert Some Variables to Numeric

In [17]:
# Function for converting _yrs _mons to # of months
def convert_yr_mon(x):
    nums = re.findall(r'-?\d+\.?\d*', x)
    nums = list(map(int, nums))
    nums = np.array(nums) * np.array([12,1])
    return sum(nums)

category_columns = ['AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH']

for column in category_columns:
    train_data[column] = train_data[column].map(lambda x: convert_yr_mon(x))
    train_data[column] = train_data[column].astype('int64')

## Normalize Continuous Variables

In [18]:
## Unused - Min Max Normalization
def min_max_normalization(df_column):
    mm_data = (df_column-df_column.min())/(df_column.max() - df_column.min())
    return mm_data

In [19]:
# Function to normalize data
def mean_normalization(df_column):
    avg = df_column.mean()
    std = df_column.std()
    nrml_data = (df_column-avg)/std
    return nrml_data, avg, std

In [20]:
normalization_dict = {} # Dictionary containing conversion values for prediction
for column in train_data.select_dtypes(include=['int64']).columns:
    train_data[column], avg, std = mean_normalization(train_data[column])
    normalization_dict[column] = [avg, std]

## Create Dummy Variables

In [21]:
train_data.columns = [i.lower() for i in train_data.columns]
train_data.columns = [i.replace('.','_') for i in train_data.columns]

### Perform CNS Score Description

In [22]:
## A majority of the categorical classes are different types are 'not scored' or 'no history'
## Can reduce to six classes

risk = []
for i in train_data['perform_cns_score_description']:
    if('Very Low' in i):
        risk.append('Very Low Risk')
    elif('Low' in i):
        risk.append('Low Risk')
    elif('Medium' in i):
        risk.append('Medium Risk')
    elif('Very High' in i):
        risk.append('Very High Risk')
    elif('High' in i):
        risk.append('High Risk')
    else:
        risk.append('Not Scored')
        
train_data['perform_cns_score_description'] = risk

## As we can see, a majority of default and non-default are not scored or very low risk
pd.crosstab(index=train_data['perform_cns_score_description'], columns=train_data['loan_default'])

loan_default                   False   True
perform_cns_score_description
High Risk                       8777   3248
Low Risk                       14928   3366
Medium Risk                     9239   3173
Not Scored                     99970  29815
Very High Risk                  6919   2991
Very Low Risk                  42710   8018

In [23]:
## Transform categories to numerical codes for modelling.
train_data.perform_cns_score_description = train_data.perform_cns_score_description.astype('category').cat.codes

## Verify transformation
train_data.perform_cns_score_description.value_counts()

3    129785
5     50728
1     18294
2     12412
0     12025
4      9910
Name: perform_cns_score_description, dtype: int64

### Employment Type

In [24]:
## Get 'dummy' numerical values for 'salaried' and 'self employed' for modeling
train_data['employment_type'] = train_data['employment_type'].astype('category').cat.codes
## Verify 'employment_type' was converted.
train_data['employment_type'].value_counts()

1    127635
0     97858
2      7661
Name: employment_type, dtype: int64

### Date of Birth to Age

* Maybe worth doing birth to dispursal age to get better estimation of age at time of loan

In [25]:
train_data['disbursaldate'] = pd.to_datetime(train_data['disbursaldate'], infer_datetime_format=True)

In [26]:
train_data['date_of_birth'] = pd.to_datetime(train_data['date_of_birth'], infer_datetime_format=True)

now = pd.Timestamp('now')

train_data['age'] = (now - train_data['date_of_birth']).astype('<m8[Y]').astype(int)

age_mean = int(train_data[train_data['age']>0]['age'].mean())

train_data.loc[:,'age'] = train_data['age'].apply(lambda x: x if x>0 else age_mean)

train_data.age.describe()

count    233154.000000
mean         36.055088
std           6.463728
min          23.000000
25%          31.000000
50%          36.000000
75%          40.000000
max          50.000000
Name: age, dtype: float64

## Remove the rest of the unneeded Columns

In [27]:
## Specify which columns to remove from dataset to reduce dimensionality and maximize accuracy
to_drop = ['date_of_birth', 'disbursaldate', 'employment_type']

train_data = train_data.drop(columns=to_drop, axis=1)

train_data.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,current_pincode_id,state_id,employee_code_id,mobileno_avl_flag,...,no_of_inquiries,loan_default,total_accts,active_accts,overdue_accts,total_current_balance,total_sanc_amount,total_disbursed_amount,total_instal,age
0,-0.291335,-0.921893,89.55,67,22807,45,1441,6,0.4599,True,...,-0.292449,False,-0.472558,-0.538021,-0.290192,-0.178324,-0.094714,-0.094368,-0.088154,39
1,-0.555996,-0.544481,73.23,67,22807,45,1502,6,0.4599,True,...,-0.292449,True,-0.283514,-0.034067,1.481510,-0.149597,-0.073657,-0.073337,-0.075084,38
2,-0.083183,-0.765650,89.63,67,22807,45,1497,6,0.4599,True,...,-0.292449,False,-0.472558,-0.538021,-0.290192,-0.178324,-0.094714,-0.094368,-0.088154,38
3,0.243307,-0.514763,88.48,67,22807,45,1501,6,0.4599,True,...,1.122984,True,0.094576,-0.538021,-0.290192,-0.178324,-0.094714,-0.094368,-0.087951,29
4,-0.152567,-0.821602,88.39,67,22807,45,1495,6,0.4599,True,...,1.122984,True,-0.472558,-0.538021,-0.290192,-0.178324,-0.094714,-0.094368,-0.088154,46

## Create Dummy Variable DF (Unsure if we will use it)

In [28]:
train_data_dummy = pd.get_dummies(train_data, columns=train_data.select_dtypes(include=['category']).columns, drop_first=True)

## Save the Two DataFrames

In [29]:
# Categories not one hot encoded
train_data.to_pickle('../Project/train_data.P')

# Categories one hot encoded
train_data_dummy.to_pickle('../Project/train_data_onehot.P')

# Normalization Vectors
with open("../Project/normalizaion_vectors.P", "wb") as tf:
    pickle.dump(normalization_dict, tf)